<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(.+\.html)$" />
          <action type="Rewrite" url="/views/{R:1}" />
        </rule>
      </rewrite>
    </rewrite>
  </system.webServer>
</configuration>